{% extends 'homepage/home.html'%}
{% block body %}
<style>

    h2{
     text-decoration: underline;
     text-transform: capitalize;
     text-indent: 10px;

    p{
    text-indent: 70px;

    }
    ul.a {
    list-style-type: circle;
}










</style>

<div class="container-fluid" style="background-color:#64677F;height:60px">
    <div class="col-sm-4">
        <h3 align="center" style="color:white;hight:40px;padding-top:10px">Module Details</h3>


    </div>
</div>
<br>
<div class="container">
    <h2 style="font-size:25px;color:gray;">
        This project is divided into three Module
    </h2>
    <br>
    <br>

    <h6>1.Manage The Employees Payroll</h6>
    <p>


        This module helps to maintain emloyees pay slips, pay sheets, pay summaries, salary advancement’s, over time
        calculation’s, no pay deduction, payee tax report, OT, no
        pay detailed report, late minutes deduction report, signature sheets, loan maintenance, salary pay to
        bank.
    </p>
    <ul class="a">
        <li>Manage every Employees Salary</li>
        <li>Define every employees emoluments,deductions,tax</li>
        <li>Manage the Payroll processes</li>
    </ul>
    <h6>2.Leave and Vacation Management</h6>
    <p>
        This module helps to keep track of all the employees leave deatils,work hour and mainatain the employees salary
        based on their leaves.
    </p>
    <ul class="a">
        <li>Manage every Employees Leave application</li>
        <li>Keeps a track of employees attendance and on that basis it genrates the montholy salary</li>
        <li>Paperless work</li>
    </ul>
    <h6>3.Employees Management System</h6>
    <p>
        This module keeps track of all the employees personal information, details of department, and assign the work
        for every employees.


    </p>
    <ul class="a">
        <li>Manage every Employees Personal details, departments</li>
        <li>Assign the work and salary for every employees</li>
        <li>Easy way to organise all the employees departments and personal details</li>
    </ul>

</div>


{% endblock %}